
<nav class="navbar navbar-default">

    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle navbar-brand" data-toggle="dropdown">{{activeChild.name}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="menu in childStates">
                    <a ng-if="menu.state.requiresParams == true" ui-sref="{{menu.state.name}}">{{menu.name}}</a>
                    <a ng-if="menu.state.requiresParams == false" ui-sref="{{menu.state.name}}">{{menu.name}}</a>
                </li>
            </ul>
        </li>
        <li ng-repeat="child in grandChildStates">
            <a>{{child.name}}</a>
        </li>
    </ul>


</nav>

<ui-view />
