<div id='messageBoxId' name='messageBoxId'></div>

  <div id="Table_Container" style="float:left" >
	<div id="Table Header" style="float:left">
		<div id="Last Modified Info" >  

		</div>
	</div>
	<br>
	<div id="blank_spot">
	<table datatable="" id="example" class="table hover row-border" dt-options="$ctrl.dtOptions" dt-columns="$ctrl.dtColumns">
        <!--<thead>
            <tr>
                <th>Team</th>
                <th>Player</th>
                <th>Last Year Cost</th>
                <th>ESPN ADV</th>
                <th>2017 Keeper Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="kpr in $ctrl.persons">
                <td>{{kpr["Translated Team"]}}</td>
                <td>{{kpr["Translated Name"]}}</td>
                <td>{{kpr["Last Year Cost"]}}</td>
                <td>{{kpr.ADV}}</td>
                <td>{{kpr["2016 Keeper Cost"]}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Team</th>
				<th>Player</th>
                <th>Last Year Cost</th>
				<th>ESPN ADV</th>
                <th>2017 Keeper Cost</th>
            </tr>
        </tfoot>-->
    </table>
	
	
	</div>
  </div>
  
