<h3>Restricted Free Agents</h3>

<div class="alert alert-info">
    <strong> Instructions: </strong>
    <p>Submit bids for as many players as you want. There is no limit to how much money you can offer total, however, you will not be allowed to acquire players worth more than you have available in the auction.</p>
    <p> I will identify maximum bids at 12pm on 8/13, and communicate with the original owners around that time.  </p>
    <p> Following that, RFAs kept by original owners will be processed.  </p>
    <p> Next, winning bids will then be processed in the order in which they were received. If a bidder does not have enough money to acquire a player on which they bid, that bid will be disqualified, and the original owner will be asked again if he/she wants to match the next highest bid. </p>
</div>

    <div ng-show="bm.showError()" class="alert alert-danger"><strong> Error: </strong> {{bm.error}}</div>
    <div ng-show="bm.showSuccess()" class="alert alert-success"><strong> Success: </strong> {{bm.successMessage}}</div>
    <table datatable="ng" dt-options="bm.dtOptions" dt-column-defs="bm.dtColumnDefs" class="row-border hover display compact">
        <thead>

            <tr>
                <th>Team</th>
                <th>Player</th>
                <th>Bidder Name</th>
                <th>Bid Amount</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="plyr in bm.keepers">
                <td>
                    <button type="button" ng-show="bm.deleteOkay()" ng-click="bm.deleteItem(plyr)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    {{ plyr.team }}
                </td>
                <td>{{ plyr.rfa }} <div><small class="text-right">Bids Received: {{ plyr.bidCount }} </small> </div></td>
                <td><input type="text" ng-model="plyr.bidder" /></td>
                <td>
                    <input type="text" ng-model="plyr.bidAmount" />
                    <button type="button" ng-click="bm.submitBid(plyr)" class="btn btn-primary"><i class="fa fa-edit"></i> Enter Bid</button>

                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr ng-repeat="itemToAdd in bm.itemsToAdd">

                <th><input type="text" ng-model="itemToAdd.team" /></th>
                <th><input type="text" ng-model="itemToAdd.rfa" /></th>

                <th>
                    <button ng-click="bm.add(itemToAdd)"><i class="fa fa-plus"></i> Add this one</button>
                    <button type="button" ng-click="bm.removeNew(itemToAdd)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </th>
            </tr>
        </tfoot>


    </table>
    <button ng-click="bm.addNew()"><i class="fa fa-plus"></i></button>
