<!--<ul uib-pagination total-items="$ctrl.totalItems" items-per-page="1" ng-model="$ctrl.selectedWeek" ng-change="$ctrl.pageChanged()"></ul>-->



<a ui-sref="ff.scoreboard.details({weekId: $ctrl.selectedWeek - 1})"  ng-show="($ctrl.selectedWeek > 1)"><i class="fa fa-backward"></i> Previous Week </a>
| Week {{$ctrl.selectedWeek}} |
<a ui-sref="ff.scoreboard.details({weekId: $ctrl.selectedWeek + 1})" ng-show="($ctrl.selectedWeek < 16)"> Next Week <i class="fa fa-forward"></i></a>


<div class="container">
    <div class="row">
        <div class="col "  ng-repeat="gm in $ctrl.weeklymatchups">
            <div class="container" style="border: 1px solid gray; margin-bottom: 10px;" >
                <div class="row">
                    <div class="row">
                        <span class="col-sm-2 text-center">Game {{gm['Game']}}</span>
                        <span class="col-sm-9 text-center"><strong>{{gm['Team Name']}} vs. {{gm['Opp Name']}}</strong></span>
                        <span class="col-sm-1"></span>
                    </div>

                    <div class="row">
                        <span class="col-sm-2 text-center  border border-dark">Record</span>
                        <span class="col-sm-4 text-center">{{gm['Team W']}}-{{gm['Team L']}}-{{gm['Team T']}}</span>
                        <span class="col-sm-4 text-center">{{gm['Opp W']}}-{{gm['Opp L']}}-{{gm['Opp T']}}</span>
                        <span class="col-sm-1 glyphicon glyphicon-plus-sign" ng-show="gm.isCollapsed" style="color:blue" ng-click="gm.isCollapsed = !gm.isCollapsed"></span>
                        <span class="col-sm-1 glyphicon glyphicon-minus-sign" ng-show="!gm.isCollapsed" style="color:red" ng-click="gm.isCollapsed = !gm.isCollapsed"></span>
                    </div>
                    <div class="row" ng-show="!gm.isCollapsed">
                        <span class="col-sm-6" uib-collapse="gm.isCollapsed">
                            <detailed-game-results games="gm['Subgame Details']"></detailed-game-results>
                        </span>
                        <span class="col-sm-6" uib-collapse="gm.isCollapsed">
                            <detailed-game-results games="gm['Subgame Opp Details']"></detailed-game-results>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-sm-2 text-center">Points (Bench)</span>
                        <span class="col-sm-4 text-center">
                            {{gm['Pts (Starters)'] | number: 2}}
                            <small>({{gm['Pts (Bench)']| number: 2}})</small>
                        </span>
                        <span class="col-sm-4 text-center">
                            {{gm['Opp Pts (Starters)'] | number: 2}}
                            <small>({{gm['Opp Pts (Bench)'] | number: 2}})</small>
                        </span>
                        <span class="col-sm-1"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

