<h4>Current Standings</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
            Rank
        </div>
        <div class="col-sm-2">
            Owner
        </div>
        <div class="col-sm-1">
            W
        </div>
        <div class="col-sm-1">
            L
        </div>
        <div class="col-sm-1">
            W Pct
        </div>
        <div class="col-sm-1">
            FF Pts
        </div>
        <div class="col-sm-2">
            Team Points
        </div>
        <div class="col-sm-1">
            Opp FF Pts
        </div>
        <div class="col-sm-2">
            Opp Team Pts
        </div>
    </div>
    <div class="row" ng-repeat="standingsRec in $ctrl.standings">
        <div class="col-sm-1">{{ standingsRec.Rank }}</div>
        <div class="col-sm-2">{{ standingsRec.TEAM_NAME }}</div>
        <div class="col-sm-1">{{ standingsRec.W }}</div>
        <div class="col-sm-1">{{ standingsRec.L }}</div>
        <div class="col-sm-1">{{ standingsRec.W  / (standingsRec.W + standingsRec.L  +standingsRec.T) }}</div>
        <div class="col-sm-1">{{ standingsRec['FF_POINTS'] }}</div>
        <div class="col-sm-2">{{ standingsRec['TEAM_POINTS'] }}</div>
        <div class="col-sm-1">{{ standingsRec['OPP_FF_POINTS'] }}</div>
        <div class="col-sm-2">{{ standingsRec['OPP_TEAM_POINTS'] }}</div>
    </div>
</div>

