

<h4>Andy vs Justin</h4>


<div class="container-fluid">
    <div ng-repeat="cht in $ctrl.filteredRecs">
        <div id="repeatBlock{{cht.Chart}}" google-chart chart="{{cht.Title}}"></div>
    </div>
    <div id='messageBoxId' name='messageBoxId'></div>

    <!--<?php include 'includes/registerform.php';?>-->
    <!--<div id="Table_Container" style="float:left">
        <div id="Table Header" style="float:left">Current Bet Status</div>
        <br>
        <div id="blank_spot" style="float:left"></div>
    </div>
    <div id="chart_div_Diff" style="float:left"></div>
    <div id="chart_div_Rally" style="float:left"></div>
    <div id="chart_div_k" style="float:left"></div>
    <div id="chart_div_hbp" style="float:left"></div>
    <div id="chart_div_IP" style="float:left"></div>-->
    <div id="table_div"></div>

</div>