

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="abl">Actuarial Baseball League</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="abl">Home</a></li>
                <li><a ui-sref="abl.stats">Stats</a></li>
                <li><a ui-sref="abl.players">Players</a></li>
            </ul>
        </div>
     </div>

</nav>

<ui-view></ui-view>

﻿<!--<div>
    <input type="button" ng-click="vm1.advance" />
    <table class="table table-bordered no-footer" ui-tree="treeOptions">
        <thead>
            <tr>
                <th>Player</th>
                <th>Position</th>
                <th>MLB ID</th>
                <th>Team</th>
                <th>ABL</th>
                <th>APA</th>
            </tr>
        </thead>
        <tbody ui-tree-nodes="" ng-model="vm1.stats">
            <tr ng-repeat="item in vm1.stats"  ui-tree-node>
                <td ><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"  ui-tree-handle></span> {{ item.PLAYER }}</td>
                <td>{{ item.POSITION }}</td>
                <td>{{ item.MLB_ID }}</td>
                <td>{{ item.MLB_TEAM }}</td>
                <td>{{ item.ABL }}</td>
                <td>{{ item.APA }}</td>
            </tr>
        </tbody>
    </table>

</div>-->





