<div>
    <ul>
        <li ng-repeat="gm in $ctrl.games track by $index">
            {{gm.game_data_directory}}
            <ul>
                <li>{{gm.status}} (Start Time: {{gm.home_time}} {{gm.home_time_zone}})</li>
            </ul>

            <table class="table table-bordered table-sm no-footer small" >
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Game Time</th>
                        <th>Player</th>
                        <th>ID</th>
                        <th>pos</th>
                        <th>g</th>
                        <th>ab</th>
                        <th>hit</th>
                        <th>2b</th>
                        <th>3b</th>
                        <th>hr</th>
                        <th>run</th>
                        <th>rbi</th>
                        <th>bb</th>
                        <th>so</th>
                        <th>sb</th>
                        <th>cs</th>
                        <th>gidp</th>
                        <th>e</th>
                        <th>hbp</th>
                        <th>sf</th>
                        <th>sh</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="btr in gm.stats track by $index">
                        <td>{{gm.status}}</td>
                        <td>{{gm.home_time}} {{gm.home_time_zone}}</td>
                        <td>{{btr.name_display_first_last}}</td>
                        <td>{{btr.id}}</td>
                        <td>{{btr.pos}}</td>
                        <td>1</td>
                        <td>{{btr.ab}}</td>
                        <td>{{btr.h}}</td>
                        <td>{{btr.d}}</td>
                        <td>{{btr.t}}</td>
                        <td>{{btr.hr}}</td>
                        <td>{{btr.r}}</td>
                        <td>{{btr.rbi}}</td>
                        <td>{{btr.bb}}</td>
                        <td>{{btr.so}}</td>
                        <td>{{btr.sb}}</td>
                        <td>{{btr.cs}}</td>
                        <td>{{btr.gidp}}</td>
                        <td>{{btr.e}}</td>
                        <td>{{btr.hbp}}</td>
                        <td>{{btr.sf}}</td>
                        <td>{{btr.sac}}</td>
                    </tr>
                </tbody>
            </table>


        </li>
    </ul>
    <table class="table table-bordered no-footer" ui-tree="treeOptions">
        <thead>
            <tr>
                <th> Player </th>
                <th> Team </th>
                <th> pos </th>
                <th> g </th>
                <th> ab </th>
                <th> hit </th>
                <th> 2b </th>
                <th> 3b </th>
                <th> hr </th>
                <th> run </th>
                <th> rbi </th>
                <th> bb </th>
                <th> so </th>
                <th> sb </th>
                <th> cs </th>
                <th> gidp </th>
                <th> e </th>
                <th> hbp </th>
                <th> sf </th>
                <th> sh </th>
            </tr>
        </thead>
        <tbody ng-model="$ctrl.dougstats">
            <tr ng-repeat="item in $ctrl.dougstats track by $index">
                <td>{{ item.Player }}</td>
                <td>{{ item.Team }}</td>
                <td>{{ item.pos }}</td>
                <td>{{ item.g }}</td>
                <td>{{ item.ab }}</td>
                <td>{{ item.hit }}</td>
                <td>{{ item['2b'] }}</td>
                <td>{{ item['3b'] }}</td>
                <td>{{ item.hr }}</td>
                <td>{{ item.run }}</td>
                <td>{{ item.rbi }}</td>
                <td>{{ item.bb }}</td>
                <td>{{ item.so }}</td>
                <td>{{ item.sb }}</td>
                <td>{{ item.cs }}</td>
                <td>{{ item.gidp }}</td>
                <td>{{ item.e }}</td>
                <td>{{ item.hbp }}</td>
                <td>{{ item.sf }}</td>
                <td>{{ item.sh }}</td>
                
            </tr>
        </tbody>
    </table>

</div>





