<h3>Fantasy Fantasy Admin Page</h3>

    <div ng-show="tableCtrl.showError()" class="alert alert-danger"><strong> Error: </strong> {{tableCtrl.error}}</div>
    <div ng-show="tableCtrl.showSuccess()" class="alert alert-success"><strong> Success: </strong> {{tableCtrl.successMessage}}</div>
    <div ng-show="tableCtrl.showStatus()" class="alert alert-info"><strong> Status: </strong> {{tableCtrl.statusMessage}}</div>
    <table datatable="ng" dt-options="tableCtrl.dtOptions" dt-columns="tableCtrl.dtColumns" class="row-border hover display compact">
        <thead>

            <tr>
                <th>LEAGUE_ID</th>
                <th>RECORD_ID</th>
                <th>TEAM_ID</th>
                <th>PRIME_OWNER</th>
                <th>TIMESTAMP</th>
                <th>POSITION</th>
                <th>END_TIME</th>
                <th>matched</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rowObj in tableCtrl.tableRows">
                <td>
                    {{rowObj.LEAGUE_ID}}
                </td>
              <td>
                    {{rowObj.RECORD_ID}}
                </td>
                <td>
                    {{ rowObj.TEAM_ID}}
                    <input ng-show="rowObj.editable" type="text" ng-model="rowObj.editTeamOwner" />
                </td>
                <td>
                    {{ rowObj.PRIME_OWNER }}
                    <input ng-show="rowObj.editable" type="text" ng-model="rowObj.editTeamName" />
                </td>
                <td>
                    {{rowObj.TIMESTAMP}}
                </td>
              <td>
                    {{rowObj.POSITION}}
                </td>
              <td>
                    {{rowObj.END_TIME}}
                </td>
              <td>
                    {{rowObj.supplemental.inDB}}
                </td>
              <td>
                    <button ng-show="!rowObj.editable" type="button" ng-click="tableCtrl.modifyItem(rowObj)" class="btn btn-info"><i class="fa fa-edit"></i></button>
                    <button ng-show="rowObj.editable" ng-click="tableCtrl.updateItem(rowObj)" class="btn btn-success"><i class="fa fa-floppy-o"></i></button>
                    <button ng-show="rowObj.editable" type="button" ng-click="tableCtrl.discardModifications(rowObj)" class="btn btn-warning"><i class="fa fa-window-close-o"></i></button>
                    <button type="button" ng-show="tableCtrl.deleteOkay() && !rowObj.editable" ng-click="tableCtrl.deleteItem(rowObj)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    <button type="button" ng-show="!rowObj.editable && !rowObj.supplemental.inDB" ng-click="tableCtrl.moveToAWS(rowObj)" class="btn btn-info"><i class="fa fa-arrow-right"></i></button>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr ng-repeat="itemToAdd in tableCtrl.itemsToAdd">
                <th>(auto)</th>
                <th><input type="text" ng-model="itemToAdd.owner" /></th>
                <th><input type="text" ng-model="itemToAdd.teamName" /></th>
                <th>(auto)</th>
                <th>
                    <button ng-click="tableCtrl.add(itemToAdd)" class="btn btn-success"><i class="fa fa-floppy-o"></i></button>
                    <button type="button" ng-click="tableCtrl.removeNew(itemToAdd)" class="btn btn-warning"><i class="fa fa-window-close-o"></i></button>
                </th>
            </tr>
        </tfoot>


    </table>
    <button ng-click="tableCtrl.addNew()"><i class="fa fa-plus"></i></button>
