Space for Fantasy Golf info

<h4>Team Roster</h4>
<select ng-model="vm.selectedPlyr" ng-options="x.PlayerName for x in vm.picks">
</select>

<div>{{vm.selectedPlyr}}</div>

<div class="flex-h" style="width:25%">
    <div>
        <div>
            <form class="form-inline">
                <table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" dt-instance="vm.dtInstance" class="display compact">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Score</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rosterRec in vm.leaders">
                            <td>{{ rosterRec.rank }}</td>
                            <td>{{ rosterRec.displayName }}</td>
                            <td>{{ rosterRec.stats[1].displayValue }}</td>
                            <td>{{ rosterRec.stats[13].displayValue }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>


    </div>
</div>
