

<h4>MLB Prop Bets</h4>



    <!--<ul class="list-group">
        <li class="list-group-item" ng-repeat="bet in $ctrl.betSummary">
            {{bet.description}}
            <ul><li ng-repeat="betSide in bet.sides">{{betSide.dataField}} | <span ng-bind="$parent.$eval(betSide.dataField)"</span></li></ul>
        </li>
    </ul>-->

<div class="container-fluid">
    <div ng-repeat="cht in $ctrl.betGraphConfig">
        <div id="repeatBlock{{cht.betNumber}}" google-chart chart="{{cht.betDescription}}"></div>
    </div>



</div>

<table border="1">
    <tbody>
        <tr ng-repeat="rec in $ctrl.betData track by $index ">
            <td ng-repeat="arrEnt in rec track by $index">{{arrEnt}}</td>
        </tr>
    </tbody>
</table>