

<h4>MLB Wins Pool</h4>

<select ng-model="$ctrl.selectedLeague" ng-options="x for x in $ctrl.leagues">
</select>
<select ng-model="$ctrl.selectedSeason" ng-options="ssn for ssn in $ctrl.seasons">
</select>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="rec in $ctrl.groups ">
            <i class="fa fa-plus" ng-show="!rec.show" ng-click="$ctrl.expand(rec)"></i>
            <i class="fa fa-minus" ng-show="rec.show" ng-click="$ctrl.expand(rec)"></i>
            {{rec.label}} | {{$ctrl.sumProp(rec.picks, "leagueRecord.wins")}}-{{$ctrl.sumProp(rec.picks, "leagueRecord.losses")}}-{{$ctrl.sumProp(rec.picks, "leagueRecord.ties")}} | Projected Wins: {{$ctrl.sumProp(rec.picks, "projectedWins") | number: 1}}
            <ul ng-show="rec.show">
                <li ng-repeat="pick_detail in rec.picks | orderBy: $ctrl.sortBy('Pick Number')">
                  Overall Pick Number: {{pick_detail["Pick Number"]}} | <strong> {{pick_detail.Pick}}</strong> | {{pick_detail.leagueRecord.wins}} - {{pick_detail.leagueRecord.losses}} - {{pick_detail.leagueRecord.ties || 0 }} ({{(pick_detail.leagueRecord.wins + (pick_detail.leagueRecord.ties || 0) * 0.5) / (pick_detail.leagueRecord.wins + pick_detail.leagueRecord.losses + (pick_detail.leagueRecord.ties || 0)) | number : 3}}) | Projected: {{pick_detail.projectedWins | number: 1}}</li>
            </ul>
        </li>
    </ul>
</div>






