<!--<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
<button id="authorize-button" ng-click="handleAuthClick()">Authorize</button>
<button id="signout-button" ng-click="handleSignoutClick()">Sign Out</button>-->


<h4>Team Roster</h4>
<div>
    <table class="table table-striped table-sm table-condensed">
        <thead>

            <tr>
                <th>Team ID</th>
                <th>Team Name</th>
                <th>Owner</th>
                <th>Position</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-style='(rosterRec.position == "Bench") && {"background-color":"lightgray"}' ng-repeat="rosterRec in rosterCtrl.roster | filter : {OWNER : {id : rosterCtrl.team.id}} : true | orderBy: 'position': true">
                <td>
                    {{rosterRec.team_id}}
                </td>
                <td>
                    {{ rosterRec.TEAM_INFO.TEAM_NAME }}
                </td>
                <td>
                    {{ rosterRec.prime_owner }}
                </td>
                <td>
                    <select ng-model="rosterRec.position" ng-change="rosterCtrl.updateRoster(rosterRec)">
                        <option>Starter</option>
                        <option>Bench</option>
                    </select>
                    <span ng-show="rosterRec.updating">Saving...</span>
                </td>


            </tr>

        </tbody>
        <tfoot>

        </tfoot>


    </table>
</div>