
<!--<ul uib-pagination total-items="$ctrl.totalItems" items-per-page="1" ng-model="$ctrl.selectedWeek" ng-change="$ctrl.pageChanged()"></ul>-->
<a ui-sref="ff.scoreboard.details({weekId: $ctrl.selectedWeek - 1})"><i class="fa fa-backward"></i> Previous Week </a>
| Week {{$ctrl.selectedWeek}} |
<a ui-sref="ff.scoreboard.details({weekId: $ctrl.selectedWeek + 1})"> Next Week <i class="fa fa-forward"></i></a>


    <div class="container" ng-repeat="gm in $ctrl.weeklymatchups">

        <table class="table table-condensed text-center">
            <thead>
                <tr class="text-center">
                    <th class="col-md-2 text-center">Game {{gm['Game']}}</th>
                    <th class="col-md-5 text-center">{{gm['Team Name']}}</th>
                    <th class="col-md-0 text-center"> vs. </th>
                    <th class="col-md-5 text-center">{{gm['Opp Name']}}</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-plus-sign" style="color:blue" ng-show="gm.isCollapsed" ng-click="gm.isCollapsed = !gm.isCollapsed" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-minus-sign" style="color:red" ng-show="!gm.isCollapsed" ng-click="gm.isCollapsed = !gm.isCollapsed" aria-hidden="true"></span>
                    </td>
                    <td>
                        <div uib-collapse="gm.isCollapsed">
                            <detailed-game-results games="gm['Subgame Details']"></detailed-game-results>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div uib-collapse="gm.isCollapsed">
                            <detailed-game-results games="gm['Subgame Opp Details']"></detailed-game-results>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Record</td>
                    <td>{{gm['Team W']}}-{{gm['Team L']}}-{{gm['Team T']}}</td>
                    <td></td>
                    <td>{{gm['Opp W']}}-{{gm['Opp L']}}-{{gm['Opp T']}}</td>
                </tr>
                <tr>
                    <td>Points (Bench)</td>
                    <td>
                        {{gm['Pts (Starters)'] | number: 2}}
                        <small>({{gm['Pts (Bench)']| number: 2}})</small>
                    </td>
                    <td></td>
                    <td>
                        {{gm['Opp Pts (Starters)'] | number: 2}}
                        <small>({{gm['Opp Pts (Bench)'] | number: 2}})</small>
                    </td>
                </tr>
                
            </tbody>
        </table>

    </div>
